body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.d-none {
  display: none;
}

.allCards {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: "LMS PokeDex";
  text-align: center;
  font-size: 82px;
  text-transform: uppercase;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 8px;
}

.search-field {
  height: 24px;
  padding: 16px;
  border-radius: 8px;
  border: 1px dotted lightblue;
}

.letters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  padding: 2px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
}
.smallCardSingle {
  display: flex;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}

h2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.smallCardSingle .svgContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

.smallLeft {
  width: 30%;
}

.typeContainer {
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  margin-bottom: 8px;
}

.pokedexAndInfoContainer .typeContainer {
  width: 25%;
}

.smallRight {
  flex: 1;
  position: relative;
}

.cardNumber {
  position: absolute;
  right: 0px;
  top: -48px;
}

.imageSmall {
  width: 100%;
  height: auto;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
}

.smallCardSingle .svgContainer svg {
  width: 180px;
  height: 180px;
  margin-right: -60px;
}

img {
  object-position: right bottom;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadMoreButton {
  border-radius: 5px;
  padding: 8px;
  margin: 16px;
  width: 500px;
  background-color: #a8a878;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (max-width: 360px) {
  .imageSmall {
    width: 100%;
    height: auto;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    z-index: 999;
  }
}

/*///////////////////////single card style ///////////////////////*/

.bigBox {
  min-width: 600px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pokedex {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 36vh;
  width: 56vw;
  background-color: #fb6c6c;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

#pokemonNameSingle {
  font-size: 42px;
}

#typeContainer {
  padding: 10px;
  background-color: rgba(251, 108, 108, 0.5);
}

.info-container {
  height: 38vh;
  width: 56vw;
  background-color: #fff;
  border: 1px solid lightgray;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 24px;
  margin-top: -40px;
  margin-bottom: 32px;
  position: relative;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#image {
  position: absolute;
  bottom: 89%;
  height: 90%;
}

.details-header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
  font-size: larger;
  font-weight: bold;
}

#details-container {
  display: flex;
  margin-top: 24px;
  color: #000;
  background-color: aqua;
  min-height: 200px;
  min-width: 300px;
  z-index: 990;
}

.tdGeneratedInfo {
  width: 200px;
}
.singleDetail {
  font-size: larger;
  height: 200px;
  width: 100px;
  z-index: 999;
}
