body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.bigBox {
  min-width: 600px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pokedex {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 36vh;
  width: 56vw;
  background-color: #fb6c6c;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

#typeContainer {
  padding: 10px;
  background-color: rgba(251, 108, 108, 0.5);
}

.info-container {
  min-height: 46vh;
  width: 56vw;
  background-color: #fff;
  border: 1px solid lightgray;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 24px;
  margin-top: -40px;
  position: relative;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#image {
  position: absolute;
  bottom: 75%;
  width: 56vw;
}

.details-header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

#details-container {
  display: flex;
  margin-top: 24px;
  color: #000;
  background-color: aqua;
  min-height: 200px;
  min-width: 200px;
  z-index: 990;
}

.singleDetail {
  font-size: larger;
  height: 200px;
  width: 100px;
  z-index: 999;
}
